@font-face {
    font-family: 'Fieldwork Hum';
    src: url('../fonts/Fieldwork-HumBoldItalic.woff2') format('woff2'),
        url('../fonts/Fieldwork-HumBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Fieldwork Hum';
    src: url('../fonts/Fieldwork-HumLight.woff2') format('woff2'),
        url('../fonts/Fieldwork-HumLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fieldwork Geo Fat';
    src: url('../fonts/Fieldwork-GeoFat.woff2') format('woff2'),
        url('../fonts/Fieldwork-GeoFat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fieldwork Geo Hair';
    src: url('../fonts/Fieldwork-GeoHair.woff2') format('woff2'),
        url('../fonts/Fieldwork-GeoHair.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Fieldwork Geo';
    src: url('../fonts/Fieldwork-GeoLight.woff2') format('woff2'),
        url('../fonts/Fieldwork-GeoLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fieldwork Hum';
    src: url('../fonts/Fieldwork-HumThin.woff2') format('woff2'),
        url('../fonts/Fieldwork-HumThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Fieldwork Geo';
    src: url('../fonts/Fieldwork-GeoBold.woff2') format('woff2'),
        url('../fonts/Fieldwork-GeoBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fieldwork Hum Hair';
    src: url('../fonts/Fieldwork-HumHair.woff2') format('woff2'),
        url('../fonts/Fieldwork-HumHair.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Fieldwork Geo';
    src: url('../fonts/Fieldwork-GeoRegular.woff2') format('woff2'),
        url('../fonts/Fieldwork-GeoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fieldwork Hum Hair';
    src: url('../fonts/Fieldwork-HumHairItalic.woff2') format('woff2'),
        url('../fonts/Fieldwork-HumHairItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Fieldwork Hum';
    src: url('../fonts/Fieldwork-HumBlackItalic.woff2') format('woff2'),
        url('../fonts/Fieldwork-HumBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Fieldwork Hum Fat';
    src: url('../fonts/Fieldwork-HumFat.woff2') format('woff2'),
        url('../fonts/Fieldwork-HumFat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fieldwork Hum';
    src: url('../fonts/Fieldwork-HumDemiBold.woff2') format('woff2'),
        url('../fonts/Fieldwork-HumDemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fieldwork Geo';
    src: url('../fonts/Fieldwork-GeoBlack.woff2') format('woff2'),
        url('../fonts/Fieldwork-GeoBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Fieldwork Hum';
    src: url('../fonts/Fieldwork-HumRegularItalic.woff2') format('woff2'),
        url('../fonts/Fieldwork-HumRegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Fieldwork Geo';
    src: url('../fonts/Fieldwork-GeoDemibold.woff2') format('woff2'),
        url('../fonts/Fieldwork-GeoDemibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fieldwork Geo';
    src: url('../fonts/Fieldwork-GeoThin.woff2') format('woff2'),
        url('../fonts/Fieldwork-GeoThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Fieldwork Hum';
    src: url('../fonts/Fieldwork-HumLightItalic.woff2') format('woff2'),
        url('../fonts/Fieldwork-HumLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Fieldwork Hum';
    src: url('../fonts/Fieldwork-HumRegular.woff2') format('woff2'),
        url('../fonts/Fieldwork-HumRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fieldwork Hum';
    src: url('../fonts/Fieldwork-HumBold.woff2') format('woff2'),
        url('../fonts/Fieldwork-HumBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fieldwork Hum';
    src: url('../fonts/Fieldwork-HumThinItalic.woff2') format('woff2'),
        url('../fonts/Fieldwork-HumThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Fieldwork Hum';
    src: url('../fonts/Fieldwork-HumBlack.woff2') format('woff2'),
        url('../fonts/Fieldwork-HumBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Fieldwork Hum Fat';
    src: url('../fonts/Fieldwork-HumFatItalic.woff2') format('woff2'),
        url('../fonts/Fieldwork-HumFatItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Fieldwork Hum';
    src: url('../fonts/Fieldwork-HumDemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Fieldwork-HumDemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

