// Normally mainpage styles
 
 /*----------header----------*/

 .header{
	//@include povh('');
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 59px;
	display: flex;
	align-items: center;
	z-index: 100;
	@include mq($max-width: 992px) {
		background: #fff;
		&:after{
			width: 100%;
			height: 3px;
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			background-image: linear-gradient(to right, #f16667 0%, #bd1d7b 100%);
		}
	}
 }
 	.menu-mobile-trigger{
		 display: none;
		width: 50px;
		height: 50px;
		background-color: #be1e7a;
		 @include mq($max-width: 992px) {
			 display: flex;
			 justify-content: center;
			 align-items: center;
			 font-size: 24px;
			 color: #fff;
			 cursor: pointer;
			 position: absolute;
			 right: 0;
			 top: 59px;
			 z-index: 150;
		 }
		 i{
			 &:before{
				 display: none;
			 }
		 }
		 img{
			 width: 24px;
			 position: relative;
			 top: -4px;
		 }
	 }
 	.logo{
		 img{
			 max-width: 9.479vw;
			 @include mq($max-width: 992px) {
				 max-width: 90px;
			 }
		 }
	 }
	 .menu{
		position: fixed;
		max-width: vw(100px);
		height: 100vh;
		z-index: 100;
		right: 0;
		top: 0;
		background-image: linear-gradient(to top, #f16667 0%, #bd1d7b 100%);
		display: flex;
		flex-direction: row-reverse;
		overflow: hidden;
		padding: vw(50px) 0;
		@include transition(all 0.9s);
		@include mq($max-width: 992px) {
			display: none;
		}
		&.active{
			max-width: 100%;
			.menu__visible{
				//border-left: 1px solid #fff;
			}
			.menu__trigger{
				.menu-close{
					display: block;
				}
				.menu-open{
					display: none;
				}
				i{
					&:before {
						display: block;
						content: "\f00d";
					}
					img{
						display: none;
					}
				}
			}
			& + .menu__hover{
				right: -10%;
			}
		}
		&__hover{
			position: fixed;
			right: 0;
			top: 0;
			width: 5%;
			height: 100%;
			z-index: 110;
			@include transition(all 1.9s);
			@include mq($max-width: 992px) {
				display: none;
			}
		}
		&__visible{
			display: flex;
			height: 100%;
			justify-content: space-between;
			flex-direction: column;
			min-width: vw(100px);
			@include transition(all 0.5s);
			//border-left: 1px solid #fff;
		}
		&__trigger{
			color: #ffffff;
			font-size: vw(16px);
			font-weight: 300;
			text-transform: uppercase;
			text-align: center;
			cursor: pointer;
			i{
				font-size: vw(22px);
				&:before{
					display: none;
				}
				img{
					width: vw(37px);
					display: block;
				}
			}
			span{
				display: block;
				transform: rotate(-90deg);
				padding-right: vw(40px);
				@include mq($max-width: 992px) {
					padding-right: 30px;
				}
				small{
					font-size: vw(16px);
					@include mq($max-width: 992px) {
						font-size: 10px;
					}
				}
			}
			.menu-close{
				display: none;
			}
			.menu-open{
				display: block;
			}
		}
		&__social{
			text-align: center;
			padding-bottom: vw(50px);
			font-size: vw(20px);
			color: #fff;
			li{
				padding-top: vw(40px);
			}
		}
		&__section{
			display: flex;
			flex-direction: row-reverse;
			overflow-y: auto;
			height: 100%;
			direction: rtl;
			-ms-overflow-style: none;
			overflow-x: hidden;
			border-right: 1px solid #fff;
			&::-webkit-scrollbar-track
			{
				background-color: transparent;
			}
			&::-webkit-scrollbar
			{
				width: 6px;
				background-color: transparent;
			}
			&::-webkit-scrollbar-thumb
			{
				background-color: #fff;
			}
		}
		&__list{
			padding-left: vw(100px);
			padding-right: vw(90px);
			color: #ffffff;
			font-size: vw(18px);
			font-weight: 300;
			line-height: 1.7;
			height: auto;
			//border-right: 1px solid #fff;
			overflow: visible;
			direction: ltr;
			position: relative;
			@include mq($max-width: 992px) {
				text-align: center;
				padding: 90px 0 0 0;
				font-size: 30px;
			}
			ul{
				position: relative;
				padding-top: vw(45px);
				&:before{
					content: '';
					position: absolute;
					right: vw(-90px);
					top: 0;
					border-right: 1px solid #fff;
					z-index: 1; 
					height: 100%;
				}
				& > li {
					padding-bottom: vw(35px);
				}
				& > li > a{
					font-size: vw(36px);
					font-weight: 700;
					display: block;
					padding-bottom: vw(4px);
					@include mq($max-width: 992px) {
						font-size: 30px;
					}
				}
				a{
					text-decoration: none;
				}
			}
			ol {
				@include mq($max-width: 992px) {
					display: none;
				}
				a{
					display: inline-block;
					border: 1px solid transparent;
					padding: 0 vw(5px);
					@include transition(all 0.5s);
					&.active, &:hover{
						border: 1px solid #fff;
					}
				}
			}
		}
		&__contact{
			overflow: visible;
			padding: 0 vw(70px);
			width: 49vw;
			height: auto;
			//border-right: 1px solid #fff;
			direction: ltr;
			@include mq($max-width: 992px) {
				width: auto;
			}
			.form{
				background: none;
				text-align: left;
				padding: vw(45px) 0 0 0;
				position: relative;
				.button{
					padding-left: 0;
				}
				.title{
					text-align: left;
					font-size: vw(36px);
				}
				&:before{
					// content: '';
					// position: absolute;
					// right: vw(-70px);
					// top: 0;
					// border-right: 1px solid #fff;
					// z-index: 2; 
					// height: 100%;
				}
				.col-lg-6:first-child{
					@include mq($min-width: 992px) {
					padding: 0 vw(15px) 0 0;
					}
				}
			}
			
			.form input, .form select, .form textarea{
				font-size: vw(20px);
			}
		}
		&__footer{
			color: #fffefe;
			font-size: vw(15px);
			font-weight: 300;
			line-height: 1.6;
			margin-top: vw(80px);
			@include mq($max-width: 992px) {
				font-size: 12px;
				padding-bottom: 30px;
			}
			hr{
				border:none ;
				border-top: 1px solid #fff;
				margin-bottom: vw(80px);
			}
			address{
				font-style: normal;
				font-size: vw(20px);
				font-weight: 700;
				@include mq($max-width: 992px) {
					font-size: 16px;
					padding-bottom: 20px;
				}
			}
			section{
				font-size: vw(20px);
				@include mq($max-width: 992px) {
					font-size: 16px;
					padding-bottom: 20px;
				}
			}
			span{
				text-decoration: underline;
			}
			p{
				a{
					font-weight: bold;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
				&.float_right{
					@include mq($max-width: 992px) {
						float: none !important;
					}
				}
			}
			a{
				text-decoration: none;
				color: #fff; 
			}
		}
	}
	.menu-mobile-social{
		ul{
			padding-bottom: 20px;
		}
		li{
			display: inline-block;
			font-size: 18px;
			padding-right: 15px;
		}
	}
	.menu-mobile{
		position: fixed;
		z-index: 140;
		width: 100%;
		top: 58px;
		right: -100%;
		height: calc(100vh - 57px);
		overflow-y: auto;
		background-image: linear-gradient(to right, #f16667 0%, #bd1d7b 100%);
		display: none;
		opacity: 0;
		@include transition(all 0.5s);
		&.active{
			display: block;
			right: 0;
			opacity: 1;
		}
		@include mq($max-width: 992px) {
			display: block;
		}
	}
	.menu-mobile-social{
		display: none;
		@include mq($max-width: 992px) {
			display: block;
		}
	}
	.menu-mobile__trigger{
		@extend .menu__trigger;
		font-size: 10px;
		position: absolute;
		right: 0;
		top: 15px;
		i{
			font-size: 17px;
			&:before{
				display: block;
			}
		}
	}
/*----------end-header----------*/	


/*----------main----------*/
 
 .main{
	@include povh('');
 }
 	.index{
		 padding-top: 100vh;
		 @include mq($max-width: 992px) {
			 padding-top: 0;
		 }
	 }
	 .index-section{
		 position: relative;
		 z-index: 1;
		 background: #fff;
		 padding-top: vw(190px);
		 @include mq($max-width: 992px) {
			 padding-top: 0;
		 }
	 }
 	.bnr{
		 margin-bottom: vw(200px);
		 position: relative;
		 overflow: hidden;
		 height: 100vh;
		 background-size: cover;
		 background-position: center;
		 background-attachment: fixed;
		 background-repeat: no-repeat;
		 display: flex;
		 justify-content: center;
		 align-items: center;
		color: #000000;
		font-size: vw(20px);
		font-weight: 300;
		@include mq($max-width: 992px) {
			font-size: 16px;
		}
		 h1{
			color: #000000;
			font-size: 3.125vw;
			font-weight: 700;
			line-height: 0.9;
			font-variant: small-caps;
			margin-bottom: vw(15px);
			@include mq($max-width: 992px) {
				font-size: 30px;
			}
		 }
		 .container{
			@include mq($min-width: 993px) {max-width: vw(1500px);}
		 }
		 p{
			padding-bottom: vw(15px);
		 }
		 &__watch{
			color: #ffffff;
			font-size: vw(16px);
			font-weight: 300;
			position: absolute;
			text-decoration: none;
			left: vw(50px);
			bottom: vw(50px);
			img{
				vertical-align: middle;
				margin-right: vw(12px);
				max-width: vw(38px);
			}
			@include mq($max-width: 992px) {
				font-size: 9px;
			}
		 }
		&.bnr-page{
			height: 50vh;
			margin-bottom: vw(100px);
			align-items: flex-end;
			background-attachment: scroll;
			h1{
				color: #ffffff;
				font-size: vw(203px);
				font-weight: 400;
				line-height: 0.65;
				text-align: center;
				font-family: 'Fieldwork Geo Fat';
				text-transform: uppercase;
				font-variant: small-caps;
				position: relative;
				top: vw(20px);
				small{
					font-size: vw(147px);
					line-height: 1;
					@include mq($max-width: 992px) {
						font-size: 45px;
					}
				}
				@include mq($max-width: 992px) {
					font-size: 45px;
				}
			}
			@include mq($max-width: 992px) {
				margin-bottom: 40px;
			}
		}
		&.bnr-fixed{
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			@include mq($max-width: 992px) {
				position: static;
			}
		}
		@include mq($max-width: 992px) {
			min-height: 500px;
		}
	 }
	 .more{
		color: #000000;
		font-size: vw(16px);
		font-weight: 700;
		text-transform: uppercase;
		display: inline-block;
		text-decoration: none;
		@include transition(all 0.5s);
		&:after{
			display: block;
			width: auto;
			height: vw(5px);
			@include transition(all 0.5s);
			content: '';
			background-image: linear-gradient(to right, #f16667 0%, #bd1d7b 100%);
		}
		&:hover{
			&:after{
				opacity: 0;
			}
		}
		@include mq($max-width: 992px) {
			font-size: 16px;
			&:after{
				height: 3px;
			}
		}
	 }
	.section{
		padding-bottom: vw(125px);
		text-align: center;
		color: #000000;
		font-size: vw(20px);
		font-weight: 300;
		@include mq($max-width: 992px) {
			padding-bottom: 90px;
			font-size: 16px;
		}
		&.section-text-l{
			font-size: vw(23px);
			p{
				line-height: 1.5;
			}
			@include mq($max-width: 992px) {
				font-size: 16px;
			}
		}
		h6{
			font-size: vw(24px);
			font-weight: 700;
			text-transform: uppercase;
			padding-bottom: vw(10px);
			@include mq($max-width: 992px) {
				font-size: 18px;
			}
		}
		p{
			padding-bottom: vw(50px);
			line-height: 1.9;
			@include mq($max-width: 992px) {
				padding-bottom: 30px;
			}
		}
		blockquote{
			color: #2a2a2a;
			font-size: vw(48px);
			font-weight: 400;
			@include mq($max-width: 992px) {
				font-size: 18px;
			}
			q{
				display: block;
				margin-bottom: vw(20px);
				@include mq($max-width: 992px) {
					margin-bottom: 10px;
				}
			}
			small{
				font-size: vw(24px);
				display: block;
				@include mq($max-width: 992px) {
					font-size: 13px;
				}
			}
		}
	}
		.title{
			color: #000000;
			font-size: vw(48px);
			font-weight: 700;
			padding-bottom: vw(43px);
			text-transform: uppercase;
			@include mq($max-width: 992px) {
				font-size: 24px;
				padding-bottom: 30px;
			}
		}
		.who{
			margin-top: vw(20px);
			box-shadow: 0 0 11px rgba(43, 43, 43, 0.15);
			background-color: #ffffff;
			padding: vw(50px);
			margin-bottom: vw(85px);
			padding-bottom: 0;
			@include mq($max-width: 992px) {
				padding: 15px;
				margin-bottom: 40px;
			}
			img{
				max-height: vw(90px);
				@include mq($max-width: 992px) {
					max-width: 35px;
					max-height: 50px
				}
			}
			.title{
				padding-bottom: vw(10px);
				font-size: vw(78px);
				@include mq($max-width: 992px) {
					font-size: 23px;
					padding-bottom: 5px;
				}
			}
			p{
				color: #000000;
				font-size: vw(20px);
				font-weight: 300;
				text-transform: uppercase;
				line-height: 1.3;
				@include mq($max-width: 992px) {
					padding-bottom: 0;
					font-size: 10px;
				}
			}
		}
	.form{
		@include gradientanim;
		color: #fff;
		padding: vw(120px) 0;
		text-align: center;
		@include mq($max-width: 992px) {
			padding: 50px 0;
		}
		.title{
			text-align: center;
			color: #fff;
		}
		input, select{
			margin-bottom: vw(27px);
			-webkit-appearance: none;
   			 -moz-appearance: none;
			   appearance: none;
			   @include mq($max-width: 992px) {
				   //font-size: 14px;
				   margin-bottom: 16px;
			   }
		}
		select{
			background-image: url(../img/arrow.png);
			background-repeat: no-repeat;
			background-position:  center right vw(25px); 
			background-size: vw(27px) vw(14px);
			@include mq($max-width: 992px) {
				background-size: 20px 10px;
				background-position:  center right 15px; 
			}
		}
		textarea{
			height: vw(165px);
			text-transform: none;
			padding-top: vw(20px);
			margin-bottom: vw(40px);
			@include mq($max-width: 992px) {
				height: 105px;
				padding: 10px;
			}
		}
		button{
			text-decoration: none;
			&:after{
				width: 100%;
				height: vw(5px);
				background-color: #ffffff;
				content: '';
				position: relative;
				display: block;
				@include transition(all 0.5s);
			}
			&:hover{
				&::after{
					opacity: 0;
				}
			}
		}
		&__text{
			padding-top: vw(55px);
			font-size: vw(20px);
			font-weight: 300;
			letter-spacing: -0.5px ;
			text-decoration: none;
			color: #fff;
			span{
				text-decoration: underline;
			}
			@include mq($max-width: 992px) {
				display: none;
			}
			a{
				text-decoration: none !important ;
				color: #fff !important ;
			}
		}
		
	}
	.title-page{
		padding-bottom: vw(21px);
		color: #bd1e7a;
		font-size: vw(48px);
		font-weight: 400;
		line-height: 1;
		text-transform: uppercase;
		font-variant: small-caps;
		text-align: center;
		@include mq($max-width: 992px) {
			font-size: 24px;
			padding-bottom: 30px;
		}
	}
	.about-slider{
		margin-bottom: vw(120px); 
		margin-top: 20px;
		.container{
			box-shadow: 0 0 11px rgba(43, 43, 43, 0.15);
			background-color: #ffffff;
			padding-top: vw(50px);
			padding-bottom: vw(40px);
			@include mq($min-width: 993px) {
				max-width: vw(1120px);
			}
			@include mq($max-width: 992px) {
				max-width: 95%;
			}
		}
		.title-page{
			font-size: vw(60px);
			color: #bd1d7b;
			@include mq($max-width: 992px) {
				font-size: 36px;
			}
			strong{
				font-family: 'Fieldwork Geo Fat';
				color: #fff;
				-webkit-text-fill-color: white;
				-webkit-text-stroke-width: vw(3px);
				-webkit-text-stroke-color:#bd1d7b;
				-moz-text-fill-color: white;
				-moz-text-stroke-width: vw(3px);
				-moz-text-stroke-color:#bd1d7b;
				text-fill-color: white;
				text-stroke-width: vw(3px);
				text-stroke-color:#bd1d7b;
				b{
					-webkit-text-fill-color:#bd1d7b;
					-webkit-text-stroke-width: vw(3px);
					-webkit-text-stroke-color:#bd1d7b;
					-moz-text-fill-color:#bd1d7b;
					-moz-text-stroke-width: vw(3px);
					-moz-text-stroke-color:#bd1d7b;
					text-fill-color:#bd1d7b;
					text-stroke-width: vw(3px);
					text-stroke-color: #bd1d7b;
				}
			}
		}
		&__section{
			color: #000000;
			font-size: vw(20px);
			font-weight: 300;
			text-align: center;
			@include mq($max-width: 992px) {
				font-size: 16px;
			}
			h6{
				padding-bottom: vw(15px);
				color: #000000;
				font-size: vw(48px);
				font-weight: 400;
				text-transform: none;
				@include mq($max-width: 992px) {
					font-size: 24px;
				}
			}
			&.about-slider__section-bottom{
				p{
					padding-bottom: 0;
				}
			}
		}
		.slick-dots{
			padding-top: vw(35px);
			li{
				display: inline-block;
				margin: 0 vw(3px);
				@include hide-text;
				&.slick-active{
					button{
						background-image: linear-gradient(52deg, #f16667 0%, #bd1d7b 100%);
					}
				}
			}
			button{
				border: none;
				display: inline-block;
				border-radius: 50%;
				width: vw(14px);
				height: vw(14px);
				background-color: #e1e1e1;
				@include hide-text;
				@include mq($max-width: 992px) {
					width: 8px;
					height: 8px;
				}
			}
		}
	}
	.solutions-wrapper{
		.about-slider .slick-dots{
			padding-top: 0;
		}
		.about-slider__section h6{
			text-transform: none;
		}
		.about-slider{
			p{
				padding-bottom: vw(20px);
			}
		}
		
	}
	.personal{
		color: #000000;
		font-size: vw(24px);
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: vw(30px);
		@include mq($max-width: 992px) {
			font-size: 12px;
		}
		img{
			width: 100%;
			display: block;
			margin-bottom: vw(30px);
		}
		strong{
			display: block;
		}
		em{
			font-style: normal;
			font-weight: 400;
			display: block;
			font-size: inherit;
			text-transform: none;
		}
		&__item{
			margin-bottom: vw(90px);
			@include mq($max-width: 992px) {
				margin-bottom: 40px;
			}
		}
	}
	.subtitle-page{
		font-weight: 400;
		line-height: 1.2;
		//font-variant: small-caps;
		color: #000000;
		font-size: vw(36px);
		padding-bottom: vw(35px);
		@include mq($max-width: 992px) {
			font-size: 24px;
		}
	}
	.solutions-wrapper{
		.title-page{
			padding-bottom: 0;
		}
	}
	.solution-center-img{
		padding-bottom: vw(80px);
		img{
			width: vw(450px);
			@include mq($max-width: 992px) {
				max-width: 70%;
				width: auto;
			}
		}
	}
	h6.solutions__slider-title, .solutions__slider-title{
		font-size: vw(36px);
		font-weight: 400;
		font-family: $ffamily;
		padding-bottom: vw(40px);
		margin-top: vw(50px);
		text-transform: none;
		@include mq($max-width: 992px) {
			font-size: 24px;
			padding-bottom: 25px;
		}
	}
	.solutions__slider{
		box-shadow: 0 0 11px rgba(43, 43, 43, 0.15);
		background-color: #ffffff;
		padding: vw(30px) 0;
		position: relative;
		margin-bottom: vw(130px);
		@include mq($max-width: 992px) {
			margin-bottom: 60px;
			padding: 20px 0px;
		}
		figcaption{
			font-size: vw(36px);
			color: #bd1e7a;
			padding-top: vw(25px);
			padding-bottom: vw(20px);
			@include mq($max-width: 992px) {
				font-size: 24px;
				padding: 19px 0 20px 0;
			}
		}
		p{
			font-weight: 300;
			font-size: vw(20px);
			@include mq($max-width: 992px) {
				font-size: 16px;
			}
		}
		img{
			margin: 0 auto;
		}
		.slick-dots{
			padding-top: vw(0px);
			li{
				display: inline-block;
				margin: 0 vw(3px);
				@include hide-text;
				&.slick-active{
					button{
						background-image: linear-gradient(52deg, #f16667 0%, #bd1d7b 100%);
					}
				}
				@include mq($max-width: 992px) {
					margin: 0 3px;
				}
			}
			button{
				border: none;
				display: inline-block;
				border-radius: 50%;
				width: vw(14px);
				height: vw(14px);
				background-color: #e1e1e1;
				@include hide-text;
				@include mq($max-width: 992px) {
					width: 9px;
					height: 9px;
				}
			}
		}
		.slick-arrow{
			position: absolute;
			@include hide-text;
			left: vw(50px);
			top: vw(60px);
			width: vw(21px);
			height: vw(41px);
			background: url(../img/slider-arrow.png) no-repeat center;
			background-size: contain;
			&.slick-next{
				left: auto;
				right: vw(50px);
			}
			&.slick-prev{
				@include mirror_flip;
			}
			@include mq($max-width: 992px) {
				width: 13px;
				height: 25px;
				left: 35px;
				&.slick-next{
					left: auto;
					right: 35px;
				}
			}
		}
	}
	.solutions__slider-item figure img{
		max-width: vw(95px);
		@include mq($max-width: 992px) {
			max-width: 100px;
			height: 60px;
		}
	}
	.case-study{
		text-align: center;
		padding-top: vw(50px);
		@include mq($max-width: 992px) {
			padding-top: 5px;
		}
		a{
			text-decoration: none;
		}
		section{
			display: inline-block;
			padding: vw(20px);
			border: 2px solid #bd1e7a;
			color: #000000;
			font-size: vw(32px);
			font-weight: 400;
			text-transform: uppercase;
			img{
				vertical-align: middle;
				padding: 0 vw(10px);
				@include mq($max-width: 992px) {
					width: 70px;
				}
			}
			@include mq($max-width: 992px) {
				font-size: 13px;
			}
		}
	}
	.tech{
		padding-bottom: vw(170px);
		text-align: left;
		@include mq($max-width: 992px) {
			padding-bottom: 70px;
		}
		ul{
			color: #2a2a2a;
			font-size: vw(24px);
			font-weight: 700;
			line-height: 1.8;
			@include mq($max-width: 992px) {
				font-size: 16px;
				padding-bottom: 20px;
			}
			li{
				padding-left: vw(25px);
				position: relative;
				@include mq($max-width: 992px) {
					padding-left: 15px;
				}
				&:before{
					content: '•';
					position: absolute;
					left: 0;
					top: vw(0px);
					color: #bd1e7a;
				}
			}
		}
		h3,h4,h5{
			color: #bd1e7a;
			font-size: vw(48px);
			font-weight: 400;
			text-transform: uppercase;
			padding-bottom: vw(55px);
			letter-spacing: vw(-1px);
			@include mq($max-width: 992px) {
				padding-bottom: 34px;
				font-size: 24px;
			}
		}
		&__img{
			img{
				width: 100%;
				display: block;
				@include mq($max-width: 992px) {
					margin: 0 auto;
				}
			}
			@include mq($max-width: 992px) {
				text-align: center;
			}
		}
	}
	.tech-bottom{
		img{
			display: block;
			margin: 0 auto;
			max-width: 120%;
		}
	}
	.clients{
		padding-bottom: vw(90px);
		&__logo{
			display: block;
			text-align: center;
			margin-bottom: vw(95px);
			img{
				max-width: 100%;
			}
		}
	}
	.testimonials{
		padding-top: vw(100px);
		text-align: center;
		padding-bottom: vw(190px);
		@include mq($max-width: 992px) {
			padding-top: 0px;
			padding-bottom: 60px;
		}
		.container{
			box-shadow: 0 0 11px rgba(43, 43, 43, 0.15);
			background-color: #ffffff;
			padding-bottom: vw(0px);
			@include mq($max-width: 992px) {
				max-width: 95%;
			}
		}
		&__block{
			position: relative;
			//overflow: hidden;
			margin: 0 vw(100px);
			top: vw(-90px);
			@include mq($max-width: 992px) {
				top: -70px;
			}
			figure{
				img{
					margin: 0 auto;
					box-shadow: 0 0 11px rgba(43, 43, 43, 0.15);
					background-color: #ffffff;
					display: block;
					border-radius: 50%;
					@include mq($max-width: 992px) {
						width: 102px;
					}
				}
				margin-bottom: vw(30px);
			}
		}
		.slick-dots{
			padding-top: vw(0px);
			li{
				display: inline-block;
				margin: 0 vw(3px);
				@include hide-text;
				&.slick-active{
					button{
						background-image: linear-gradient(52deg, #f16667 0%, #bd1d7b 100%);
					}
				}
			}
			button{
				border: none;
				display: inline-block;
				border-radius: 50%;
				width: vw(14px);
				height: vw(14px);
				background-color: #e1e1e1;
				@include hide-text;
				@include mq($max-width: 992px) {
					width: 8px;
					height: 8px;
					margin: 0 2px;
				}
			}
		}
		.slick-arrow{
			position: absolute;
			@include hide-text;
			left: vw(-65px);
			top: 50%;
			width: vw(21px);
			height: vw(41px);
			background: url(../img/slider-arrow.png) no-repeat center;
			background-size: contain;
			&.slick-next{
				left: auto;
				right: vw(-65px);
			}
			&.slick-prev{
				@include mirror_flip;
			}
			@include mq($max-width: 992px) {
				width: 11px;
				height: 22px;
			}
		}
		figcaption{
			color: #000000;
			font-size: vw(24px);
			font-weight: 400;
			padding-top: vw(30px);
			@include mq($max-width: 992px) {
				font-size: 13px;
				padding-top: 15px;
			}
			.title-page{
				font-size: vw(36px);
				line-height: 0.8;
				text-transform: none;
				padding-bottom: 0;
				@include mq($max-width: 992px) {
					font-size: 20px;
				}
			}
			strong{
				font-weight: normal;
			}
		}
		p{
			color: #000000;
			font-size: vw(20px);
			font-weight: 300;
			padding-bottom: vw(30px);
			@include mq($max-width: 992px) {
				font-size: 12px;
			}
		}
	}
	.news{
		padding-bottom: vw(100px);
		&__title{
			color: #bd1e7a;
			font-size: vw(48px);
			font-weight: 600;
			line-height: 0.7;
			text-transform: uppercase;
			padding-bottom: vw(25px);
			border-bottom: vw(3px) solid #be1d7b;
			margin-bottom: vw(60px);
			em{
				font-weight: 900;
			}
			@include mq($max-width: 992px) {
				font-size: 24px;
				padding-bottom: 13px;
				border-bottom-width: 3px;
				margin-bottom: 25px;
			}
		}
		&__item{
			padding-bottom: vw(90px);
			@include mq($max-width: 992px) {
				margin-bottom: 60px;
			}
			img{
				max-width: 100%;
			}
			figure{
				position: relative;
				overflow: hidden;
				margin-bottom: vw(38px);
				@include mq($max-width: 992px) {
					margin-bottom: 20px;
				}
				&:before{
					content: '';
					position: absolute;
					z-index: 2;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 50%;
					background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
					@include transition(all 0.5s);
				}
				a{
					display: block;
					text-decoration: none;
					@include transition(all 0.5s);
				}
				figcaption{
					position: absolute;
					bottom: 0;
					z-index: 5;
					left: 0;
					padding: vw(25px) vw(30px);
					color: #ffffff;
					font-size: vw(30px);
					font-weight: 700;
					text-transform: uppercase;
					@include mq($max-width: 992px) {
						font-size: 18px;
						padding: 15px;
					}
				}
				img{
					display: block;
					width: 100%;
					@include transition(all 0.5s);
				}
				&:hover{
					&:before{
						opacity: 0;
					}
					img{
						transform: scale(1.1)
					}
				}
			}
			hr{
				width: vw(90px);
				height: 0px;
				border: none;
				margin: 0;
				padding: 0;
				border-bottom: vw(3px) solid #be1d7b;
				@include mq($max-width: 992px) {
					width: 55px;
					border-bottom-width: 3px;
				}
			}
			.row{
				align-items: flex-end;
			}
			p{
				padding-top: vw(40px);
				color: #2a2a2a;
				font-size: vw(18px);
				font-weight: 400;
				line-height: 1.6;
				@include mq($max-width: 992px) {
					font-size: 12px;
					padding-top: 20px;
				}
			}
		}
		&__date{
			color: #bd1e7a;
			font-size: vw(18px);
			font-weight: 600;
			line-height: 0.7;
			text-transform: uppercase;
			text-align: right;
			em{
				font-weight: 900;
			}
			@include mq($max-width: 992px) {
				font-size: 12px;
			}
		}
	}
	.article{
		padding-top: vw(150px);
		color: #2a2a2a;
		font-size: vw(24px);
		font-weight: 400;
		padding-bottom: vw(230px);
		@include mq($max-width: 992px) {
			padding-top: 180px;
			font-size: 12px;
		}
		p{
			padding-bottom: vw(25px);
			@include mq($max-width: 992px) {
				padding-bottom: 15px;
			}
		}
		&__close{
			text-align: right;
			padding-bottom: vw(190px);
			img{
				max-width: vw(75px); 
			}
		}
		&__img{
			padding-top: vw(30px);
			padding-bottom: vw(60px);
			img{
				display: block;
				width: 100%;
			}
		}
		&__title{
			padding-bottom: vw(40px);
			border-bottom: vw(2px) solid #be1d7b;
			margin-bottom: vw(80px);
			@include mq($max-width: 992px) {
				border-bottom: 0;
			}
		}
		h1,h2,h3{
			color: #bd1e7a;
			font-size: vw(36px);
			font-weight: 700;
			text-transform: uppercase;
			@include mq($max-width: 992px) {
				font-size: 20px;
			}
		}
		h4,h5,h6{
			font-weight: 700;
			text-transform: uppercase;
			padding-bottom: vw(25px);
		}
		h6{
			text-transform: none;
			font-size: vw(32px);
			font-weight: 600;
			@include mq($max-width: 992px) {
				font-size: 14px;
			}
		}
		&__date{
			text-align: right;
			color: #bd1e7a;
			font-size: vw(36px);
			font-weight: 400;
			font-style: italic;
			text-transform: uppercase;
			@include mq($max-width: 992px) {
				font-size: 16px;
				text-align: left;
				border-top: 1px solid #be1d7b;
				padding-top: 20px;
				margin-top: 20px;
			}
		}
		blockquote{
			text-align: center;
			padding:vw(15px) 0 vw(35px) 0;
			letter-spacing: vw(-0.5px);
			@include mq($max-width: 992px) {
				padding: 10px 0 15px 0;
			}
			q{
				font-size: vw(46px);
				font-weight: 700;
				font-style: italic;
				display: block;
				line-height: 1.1;
				@include mq($max-width: 992px) {
					padding: 10px 0 15px 0;
					font-size: 24px;
				}
			}
			small{
				font-weight: 600;
				font-style: italic;
				display: block;
				@include mq($max-width: 992px) {
					font-size: 12px;
				}
			}
		}
		&__source{
			font-weight: 600;
			color: #be1e7a;
			font-style: italic;
		}
	}
	.up{
		padding-top: vw(100px);
		text-align: center;
		img{
			max-width: vw(75px);
			@include mq($max-width: 992px) {
				max-width: 29px;
			}
		}
		@include mq($max-width: 992px) {
			padding-top: 50px;
		}
	}
	.modal-person{
		padding: 0;
		margin: 0;
		&__img{
			img{
				display: block;
				width: 100%;
			}
			@include mq($max-width: 575px) {
				overflow: hidden;
				//height: 30vh;
			}
		}
		.container{
			padding-left: 0;
			padding-right: 0;
		}
		&__text{
			padding: vw(55px) vw(40px) vw(55px) 0;
			color: #000000;
			font-size: vw(20px);
			font-weight: 300;
			@include mq($max-width: 992px) {
				font-size: 14px;
				padding: 24px 10px;
			}
			h5, h6{
				font-weight: 400;
				color: #bd1e7a;
				font-size: vw(32px);
				text-transform: uppercase;
				@include mq($max-width: 992px) {
					font-size: 18px;
				}
			}
			h6{
				color: #000000;
				font-size: vw(24px);
				padding-bottom: vw(55px);
				@include mq($max-width: 992px) {
					font-size: 12px;
					padding-bottom: 24px;
					font-weight: bold;
				}
			}
		}
		&__col{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		&__social{
			padding-bottom: vw(40px);
			font-size: vw(30px);
			color: #bd1d7b;
			@include mq($max-width: 992px) {
				font-size: 21px;
				padding:0 10px 30px 10px;
			}
		}
		.fancybox-button{
			color: #bd1e7a;
		}
	}
/*----------end main----------*/	

	
/*----------footer----------*/
 
 .footer{
	@include povh('');
	background-color: #000000;
	padding: vw(30px) 0;
	color: #fff;
	font-family: 'Fieldwork Geo Hair';
	font-size: vw(18px);
	font-weight: 400;
	text-align: center;
	line-height: 1.8;
	@include mq($max-width: 992px) {
		font-size: 12px;
		padding: 15px 0;
	}
	a{
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
		@include mq($max-width: 992px) {
			font-weight: 900;
		}
	}
 }

/*----------end footer----------*/

