@charset "UTF-8";
@-webkit-keyframes gradient {
  0% {
    background-position: 52% 0%; }
  50% {
    background-position: 49% 100%; }
  100% {
    background-position: 52% 0%; } }

@-moz-keyframes gradient {
  0% {
    background-position: 52% 0%; }
  50% {
    background-position: 49% 100%; }
  100% {
    background-position: 52% 0%; } }

@keyframes gradient {
  0% {
    background-position: 52% 0%; }
  50% {
    background-position: 49% 100%; }
  100% {
    background-position: 52% 0%; } }

@font-face {
  font-family: 'Fieldwork Hum';
  src: url("../fonts/Fieldwork-HumBoldItalic.woff2") format("woff2"), url("../fonts/Fieldwork-HumBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Fieldwork Hum';
  src: url("../fonts/Fieldwork-HumLight.woff2") format("woff2"), url("../fonts/Fieldwork-HumLight.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Fieldwork Geo Fat';
  src: url("../fonts/Fieldwork-GeoFat.woff2") format("woff2"), url("../fonts/Fieldwork-GeoFat.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Fieldwork Geo Hair';
  src: url("../fonts/Fieldwork-GeoHair.woff2") format("woff2"), url("../fonts/Fieldwork-GeoHair.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Fieldwork Geo';
  src: url("../fonts/Fieldwork-GeoLight.woff2") format("woff2"), url("../fonts/Fieldwork-GeoLight.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Fieldwork Hum';
  src: url("../fonts/Fieldwork-HumThin.woff2") format("woff2"), url("../fonts/Fieldwork-HumThin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Fieldwork Geo';
  src: url("../fonts/Fieldwork-GeoBold.woff2") format("woff2"), url("../fonts/Fieldwork-GeoBold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Fieldwork Hum Hair';
  src: url("../fonts/Fieldwork-HumHair.woff2") format("woff2"), url("../fonts/Fieldwork-HumHair.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Fieldwork Geo';
  src: url("../fonts/Fieldwork-GeoRegular.woff2") format("woff2"), url("../fonts/Fieldwork-GeoRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Fieldwork Hum Hair';
  src: url("../fonts/Fieldwork-HumHairItalic.woff2") format("woff2"), url("../fonts/Fieldwork-HumHairItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Fieldwork Hum';
  src: url("../fonts/Fieldwork-HumBlackItalic.woff2") format("woff2"), url("../fonts/Fieldwork-HumBlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Fieldwork Hum Fat';
  src: url("../fonts/Fieldwork-HumFat.woff2") format("woff2"), url("../fonts/Fieldwork-HumFat.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Fieldwork Hum';
  src: url("../fonts/Fieldwork-HumDemiBold.woff2") format("woff2"), url("../fonts/Fieldwork-HumDemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Fieldwork Geo';
  src: url("../fonts/Fieldwork-GeoBlack.woff2") format("woff2"), url("../fonts/Fieldwork-GeoBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Fieldwork Hum';
  src: url("../fonts/Fieldwork-HumRegularItalic.woff2") format("woff2"), url("../fonts/Fieldwork-HumRegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Fieldwork Geo';
  src: url("../fonts/Fieldwork-GeoDemibold.woff2") format("woff2"), url("../fonts/Fieldwork-GeoDemibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Fieldwork Geo';
  src: url("../fonts/Fieldwork-GeoThin.woff2") format("woff2"), url("../fonts/Fieldwork-GeoThin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Fieldwork Hum';
  src: url("../fonts/Fieldwork-HumLightItalic.woff2") format("woff2"), url("../fonts/Fieldwork-HumLightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Fieldwork Hum';
  src: url("../fonts/Fieldwork-HumRegular.woff2") format("woff2"), url("../fonts/Fieldwork-HumRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Fieldwork Hum';
  src: url("../fonts/Fieldwork-HumBold.woff2") format("woff2"), url("../fonts/Fieldwork-HumBold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Fieldwork Hum';
  src: url("../fonts/Fieldwork-HumThinItalic.woff2") format("woff2"), url("../fonts/Fieldwork-HumThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Fieldwork Hum';
  src: url("../fonts/Fieldwork-HumBlack.woff2") format("woff2"), url("../fonts/Fieldwork-HumBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Fieldwork Hum Fat';
  src: url("../fonts/Fieldwork-HumFatItalic.woff2") format("woff2"), url("../fonts/Fieldwork-HumFatItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Fieldwork Hum';
  src: url("../fonts/Fieldwork-HumDemiBoldItalic.woff2") format("woff2"), url("../fonts/Fieldwork-HumDemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic; }

/*! normalize.css v6.0.0 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body, html {
  height: 100%; }
  body::-webkit-scrollbar, html::-webkit-scrollbar {
    width: 0px;
    background: transparent; }
  body::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
    background: none; }

img, fieldset, a img {
  border: none; }

input[type="submit"],
button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

textarea {
  overflow: auto; }

input, button {
  margin: 0;
  padding: 0;
  border: 0; }

input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none; }

ul, ol {
  list-style-type: none; }

@media screen and (max-width: 1024px) {
  * {
    -webkit-text-size-adjust: none; } }

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */ }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */ }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details,
menu {
  display: block; }

summary {
  display: list-item; }

[hidden] {
  display: none; }

input[type="submit"],
button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

textarea {
  resize: vertical; }

input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none; }

body {
  padding: 0;
  margin: 0;
  font-family: "Fieldwork Geo";
  font-weight: normal;
  font-size: 12px;
  line-height: 1.4; }

nav ul, nav ol {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: underline;
  color: inherit;
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: normal; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

.button {
  background: none;
  border-radius: 0px;
  font-family: "Fieldwork Geo";
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  border: none;
  display: inline-block;
  -webkit-appearance: none;
  /* Style for "SEND" */
  color: #ffffff;
  font-size: 1.45833vw;
  font-weight: 700;
  text-transform: uppercase; }
  .button:hover {
    text-decoration: none; }

select, input[type=text], input[type=email], input[type=tel], input[type=search], input[type=password], input[type=date], input[type=url], textarea {
  width: 100%;
  height: 3.4375vw;
  box-sizing: border-box;
  padding: 0 1.04167vw;
  color: #000;
  font-size: 14px;
  font-family: "Fieldwork Geo";
  border: 1px solid #000;
  border-radius: 0px;
  resize: none;
  border: 2px solid #ffffff;
  background: none;
  color: #fffefe;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase; }
  select.red_input, input[type=text].red_input, input[type=email].red_input, input[type=tel].red_input, input[type=search].red_input, input[type=password].red_input, input[type=date].red_input, input[type=url].red_input, textarea.red_input {
    box-shadow: 0 0 2px  #ff2d50;
    background: #fdc4ce; }

input::-webkit-input-placeholder {
  color: inherit; }

textarea::-webkit-input-placeholder {
  color: inherit; }

input:-moz-placeholder {
  color: inherit; }

textarea:-moz-placeholder {
  color: inherit; }

textarea {
  height: 90px;
  padding-top: 5px; }

.modal {
  display: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

.float_left {
  float: left !important; }

.float_right {
  float: right !important; }

.float_none {
  float: none !important; }

.text_right {
  text-align: right !important; }

.text_center {
  text-align: center !important; }

.text_left {
  text-align: left !important; }

.absolute {
  position: absolute !important; }

.relative {
  position: relative !important; }

.fixed {
  position: fixed !important; }

.background_none {
  background: none !important; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.block {
  display: block; }

.hidden {
  display: none; }

.alignleft, img.alignleft {
  float: left;
  padding-right: 10px;
  padding-bottom: 5px; }

.alignright, img.alignright {
  float: right;
  padding-left: 10px;
  padding-bottom: 5px; }

.aligncenter, img.aligncenter {
  text-align: center;
  margin: 0 auto; }

.alignnone, img.alignnone {
  float: none; }

.wrapper {
  position: relative;
  overflow: hidden; }

.container {
  max-width: 53.125vw; }
  .container-xl {
    max-width: 58.33333vw; }

/*----------header----------*/
.header {
  position: relative;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2vw 0;
  z-index: 100; }

.logo img {
  max-width: 9.479vw; }

.menu {
  position: fixed;
  max-width: 5.20833vw;
  height: 100vh;
  z-index: 100;
  right: 0;
  background-image: linear-gradient(to top, #f16667 0%, #bd1d7b 100%);
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  padding: 2.60417vw 0;
  -moz-transition: all 0.9s;
  -o-transition: all 0.9s;
  -webkit-transition: all 0.9s;
  -ms-transition: all 0.9s;
  transition: all 0.9s; }
  .menu.active {
    max-width: 100%; }
    .menu.active .menu__trigger .menu-close {
      display: block; }
    .menu.active .menu__trigger .menu-open {
      display: none; }
    .menu.active .menu__trigger i:before {
      content: "\f00d"; }
  .menu__visible {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    min-width: 5.20833vw;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s; }
  .menu__trigger {
    color: #ffffff;
    font-size: 0.83333vw;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer; }
    .menu__trigger i {
      font-size: 1.14583vw; }
    .menu__trigger span {
      display: block;
      transform: rotate(-90deg);
      padding-right: 2.08333vw; }
      .menu__trigger span small {
        font-size: 0.83333vw; }
    .menu__trigger .menu-close {
      display: none; }
    .menu__trigger .menu-open {
      display: block; }
  .menu__social {
    text-align: center;
    padding-bottom: 2.60417vw;
    font-size: 1.04167vw;
    color: #fff; }
    .menu__social li {
      padding-top: 2.08333vw; }
  .menu__section {
    display: flex;
    flex-direction: row-reverse;
    overflow-y: auto;
    height: 100%;
    direction: rtl; }
    .menu__section::-webkit-scrollbar-track {
      background-color: transparent; }
    .menu__section::-webkit-scrollbar {
      width: 6px;
      background-color: transparent; }
    .menu__section::-webkit-scrollbar-thumb {
      background-color: #fff; }
  .menu__list {
    padding-left: 5.20833vw;
    padding-right: 4.6875vw;
    color: #ffffff;
    font-size: 0.9375vw;
    font-weight: 300;
    line-height: 1.7;
    height: auto;
    overflow: visible;
    direction: ltr;
    position: relative; }
    .menu__list ul {
      position: relative; }
      .menu__list ul:before {
        content: '';
        position: absolute;
        right: -4.6875vw;
        top: 0;
        border-right: 1px solid #fff;
        z-index: 1;
        height: 100%; }
      .menu__list ul > li {
        padding-bottom: 0.3125vw; }
      .menu__list ul > li > a {
        font-size: 1.875vw;
        font-weight: 700;
        display: block;
        padding-bottom: 0.20833vw; }
      .menu__list ul a {
        text-decoration: none; }
    .menu__list ol a {
      display: inline-block;
      border: 1px solid transparent;
      padding: 0 0.26042vw;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -ms-transition: all 0.5s;
      transition: all 0.5s; }
      .menu__list ol a.active, .menu__list ol a:hover {
        border: 1px solid #fff; }
  .menu__contact {
    overflow: visible;
    padding: 0 3.64583vw;
    width: 49vw;
    height: auto;
    direction: ltr; }
    .menu__contact .form {
      background: none;
      text-align: left;
      padding: 0;
      position: relative; }
      .menu__contact .form .button {
        padding-left: 0; }
      .menu__contact .form .title {
        text-align: left; }
      .menu__contact .form:before {
        content: '';
        position: absolute;
        right: -3.64583vw;
        top: 0;
        border-right: 1px solid #fff;
        z-index: 2;
        height: 100%; }
    .menu__contact .form input, .menu__contact .form select, .menu__contact .form textarea {
      font-size: 1.04167vw; }
  .menu__footer {
    color: #fffefe;
    font-size: 0.78125vw;
    font-weight: 300;
    line-height: 1.6;
    margin-top: 2.08333vw; }
    .menu__footer hr {
      border: none;
      border-top: 1px solid #fff;
      margin-bottom: 2.08333vw; }
    .menu__footer address {
      font-style: normal;
      font-size: 1.04167vw;
      font-weight: 700; }
    .menu__footer section {
      font-size: 1.04167vw; }
    .menu__footer span {
      text-decoration: underline; }
    .menu__footer p a {
      font-weight: bold;
      text-decoration: none; }
      .menu__footer p a:hover {
        text-decoration: underline; }

/*----------end-header----------*/
/*----------main----------*/
.main {
  position: relative;
  overflow: hidden; }

.bnr {
  margin-bottom: 10.41667vw;
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 1.04167vw;
  font-weight: 300; }
  .bnr h1 {
    color: #000000;
    font-size: 3.125vw;
    font-weight: 700;
    line-height: 0.9;
    font-variant: small-caps;
    margin-bottom: 1.250vw; }
  .bnr .container {
    max-width: 78.125vw; }
  .bnr p {
    padding-bottom: 1.30208vw; }
  .bnr__watch {
    color: #ffffff;
    font-size: 0.83333vw;
    font-weight: 300;
    position: absolute;
    text-decoration: none;
    left: 2.60417vw;
    bottom: 2.60417vw; }
    .bnr__watch img {
      vertical-align: middle;
      margin-right: 0.625vw;
      max-width: 1.97917vw; }
  .bnr.bnr-page {
    height: 50vh;
    margin-bottom: 5.20833vw;
    align-items: flex-end; }
    .bnr.bnr-page h1 {
      color: #ffffff;
      font-size: 10.57292vw;
      font-weight: 400;
      line-height: 0.65;
      text-align: center;
      font-family: 'Fieldwork Geo Fat';
      text-transform: uppercase;
      font-variant: small-caps;
      position: relative;
      top: 1.04167vw; }
      .bnr.bnr-page h1 small {
        font-size: 7.65625vw; }

.more {
  color: #000000;
  font-size: 0.83333vw;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s; }
  .more:after {
    display: block;
    width: auto;
    height: 0.26042vw;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    content: '';
    background-image: linear-gradient(to right, #f16667 0%, #bd1d7b 100%); }
  .more:hover:after {
    opacity: 0; }

.section {
  padding-bottom: 6.51042vw;
  text-align: center;
  color: #000000;
  font-size: 1.04167vw;
  font-weight: 300; }
  .section h6 {
    font-size: 1.25vw;
    font-weight: 700;
    text-transform: uppercase; }
  .section p {
    padding-bottom: 2.60417vw;
    line-height: 1.9; }
  .section blockquote {
    color: #2a2a2a;
    font-size: 2.5vw;
    font-weight: 400; }
    .section blockquote q {
      display: block;
      margin-bottom: 1.04167vw; }
    .section blockquote small {
      font-size: 1.25vw;
      display: block; }

.title {
  color: #000000;
  font-size: 2.5vw;
  font-weight: 700;
  padding-bottom: 2.76042vw;
  text-transform: uppercase; }

.who {
  box-shadow: 0 0 11px rgba(43, 43, 43, 0.15);
  background-color: #ffffff;
  padding: 2.60417vw;
  margin-bottom: 4.42708vw; }
  .who img {
    max-height: 4.6875vw; }
  .who .title {
    padding-bottom: 1.04167vw; }
  .who p {
    color: #000000;
    font-size: 1.04167vw;
    font-weight: 300;
    text-transform: uppercase; }

.form {
  background: linear-gradient(to top, rgba(241, 102, 103, 0.7) 0%, rgba(189, 29, 123, 0.7) 100%);
  background-size: 400% 400%;
  -webkit-animation: gradient 5s ease infinite;
  -moz-animation: gradient 5s ease infinite;
  animation: gradient 5s ease infinite;
  color: #fff;
  padding: 6.25vw 0;
  text-align: center; }
  .form .title {
    text-align: center;
    color: #fff; }
  .form input, .form select {
    margin-bottom: 1.40625vw;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .form select {
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: center right 1.30208vw;
    background-size: 1.40625vw 0.72917vw; }
  .form textarea {
    height: 8.59375vw;
    text-transform: none;
    padding-top: 1.04167vw;
    margin-bottom: 2.08333vw; }
  .form button {
    text-decoration: underline; }
  .form__text {
    padding-top: 2.86458vw;
    font-size: 1.04167vw;
    font-weight: 300;
    letter-spacing: -0.5px; }
    .form__text span {
      text-decoration: underline; }

.title-page {
  padding-bottom: 1.5625vw;
  color: #bd1e7a;
  font-size: 2.5vw;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  font-variant: small-caps;
  text-align: center; }

.about-slider {
  margin-bottom: 6.25vw; }
  .about-slider .container {
    box-shadow: 0 0 11px rgba(43, 43, 43, 0.15);
    background-color: #ffffff;
    max-width: 58.33333vw;
    padding-top: 3.125vw;
    padding-bottom: 2.08333vw; }
  .about-slider .title-page {
    font-size: 3.125vw; }
    .about-slider .title-page strong {
      font-family: 'Fieldwork Geo Fat';
      color: #fff;
      -webkit-text-fill-color: white;
      -webkit-text-stroke-width: 0.15625vw;
      -webkit-text-stroke-color: #bd1e7a;
      -moz-text-fill-color: white;
      -moz-text-stroke-width: 0.15625vw;
      -moz-text-stroke-color: #bd1e7a;
      text-fill-color: white;
      text-stroke-width: 0.15625vw;
      text-stroke-color: #bd1e7a; }
      .about-slider .title-page strong b {
        -webkit-text-fill-color: #bd1e7a;
        -webkit-text-stroke-width: 0.15625vw;
        -webkit-text-stroke-color: #bd1e7a;
        -moz-text-fill-color: #bd1e7a;
        -moz-text-stroke-width: 0.15625vw;
        -moz-text-stroke-color: #bd1e7a;
        text-fill-color: #bd1e7a;
        text-stroke-width: 0.15625vw;
        text-stroke-color: #bd1e7a; }
  .about-slider__section {
    color: #000000;
    font-size: 1.04167vw;
    font-weight: 300;
    text-align: center; }
    .about-slider__section h6 {
      padding-bottom: 1.04167vw;
      color: #000000;
      font-size: 2.5vw;
      font-weight: 400; }
  .about-slider .slick-dots {
    padding-top: 2.08333vw; }
    .about-slider .slick-dots li {
      display: inline-block;
      margin: 0 0.15625vw;
      font: 0 / 0 a;
      text-shadow: none;
      color: transparent; }
      .about-slider .slick-dots li.slick-active button {
        background-image: linear-gradient(52deg, #f16667 0%, #bd1d7b 100%); }
    .about-slider .slick-dots button {
      border: none;
      display: inline-block;
      border-radius: 50%;
      width: 0.72917vw;
      height: 0.72917vw;
      background-color: #e1e1e1;
      font: 0 / 0 a;
      text-shadow: none;
      color: transparent; }

.personal {
  color: #000000;
  font-size: 1.25vw;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5625vw; }
  .personal img {
    width: 100%;
    display: block;
    margin-bottom: 1.5625vw; }
  .personal strong {
    display: block; }
  .personal em {
    font-style: normal;
    font-weight: 300;
    display: block;
    font-size: inherit;
    text-transform: none; }
  .personal__item {
    margin-bottom: 4.6875vw; }

.subtitle-page {
  font-weight: 400;
  line-height: 1.2;
  font-variant: small-caps;
  color: #000000;
  font-size: 1.875vw;
  padding-bottom: 2.34375vw; }

.solution-center-img {
  padding-bottom: 4.16667vw; }
  .solution-center-img img {
    width: 23.4375vw; }

.solutions__slider-title {
  font-size: 1.875vw;
  font-weight: 400;
  font-family: "Fieldwork Geo";
  padding-bottom: 2.08333vw;
  margin-top: 2.60417vw; }

.solutions__slider {
  box-shadow: 0 0 11px rgba(43, 43, 43, 0.15);
  background-color: #ffffff;
  padding: 1.5625vw 0;
  position: relative;
  margin-bottom: 6.77083vw; }
  .solutions__slider figcaption {
    font-size: 1.875vw;
    color: #bd1e7a;
    padding-top: 1.30208vw;
    padding-bottom: 1.04167vw; }
  .solutions__slider p {
    font-weight: 300;
    font-size: 1.04167vw; }
  .solutions__slider img {
    margin: 0 auto; }
  .solutions__slider .slick-dots {
    padding-top: 0vw; }
    .solutions__slider .slick-dots li {
      display: inline-block;
      margin: 0 0.15625vw;
      font: 0 / 0 a;
      text-shadow: none;
      color: transparent; }
      .solutions__slider .slick-dots li.slick-active button {
        background-image: linear-gradient(52deg, #f16667 0%, #bd1d7b 100%); }
    .solutions__slider .slick-dots button {
      border: none;
      display: inline-block;
      border-radius: 50%;
      width: 0.72917vw;
      height: 0.72917vw;
      background-color: #e1e1e1;
      font: 0 / 0 a;
      text-shadow: none;
      color: transparent; }
  .solutions__slider .slick-arrow {
    position: absolute;
    font: 0 / 0 a;
    text-shadow: none;
    color: transparent;
    left: 2.60417vw;
    top: 3.125vw;
    width: 1.09375vw;
    height: 2.13542vw;
    background: url(../img/slider-arrow.png) no-repeat center;
    background-size: contain; }
    .solutions__slider .slick-arrow.slick-next {
      left: auto;
      right: 2.60417vw; }
    .solutions__slider .slick-arrow.slick-prev {
      -moz-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      -o-transform: scale(-1, 1);
      transform: scale(-1, 1);
      filter: FlipH;
      -ms-filter: "FlipH"; }

.solutions__slider-item figure img {
  max-width: 4.94792vw; }

.case-study {
  text-align: center;
  padding-top: 2.60417vw; }
  .case-study a {
    text-decoration: none; }
  .case-study section {
    display: inline-block;
    padding: 1.04167vw;
    border: 2px solid #bd1e7a;
    color: #000000;
    font-size: 1.66667vw;
    font-weight: 400;
    text-transform: uppercase; }
    .case-study section img {
      vertical-align: middle;
      padding: 0 0.52083vw; }

.tech {
  padding-bottom: 8.85417vw;
  text-align: left; }
  .tech ul {
    color: #2a2a2a;
    font-size: 1.25vw;
    font-weight: 700;
    line-height: 1.8; }
    .tech ul li {
      padding-left: 1.30208vw;
      position: relative; }
      .tech ul li:before {
        content: '•';
        position: absolute;
        left: 0;
        top: 0vw;
        color: #bd1e7a; }
  .tech h3, .tech h4, .tech h5 {
    color: #bd1e7a;
    font-size: 2.5vw;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 2.86458vw;
    letter-spacing: -0.05208vw; }
  .tech__img img {
    max-width: 100%;
    display: block; }

.tech-bottom img {
  display: block;
  margin: 0 auto;
  max-width: 120%; }

.clients {
  padding-bottom: 4.6875vw; }
  .clients__logo {
    display: block;
    text-align: center;
    margin-bottom: 4.94792vw; }
    .clients__logo img {
      max-width: 100%; }

.testimonials {
  padding-top: 5.20833vw;
  text-align: center;
  padding-bottom: 9.89583vw; }
  .testimonials .container {
    box-shadow: 0 0 11px rgba(43, 43, 43, 0.15);
    background-color: #ffffff;
    padding-bottom: 0vw; }
  .testimonials__block {
    position: relative;
    margin: 0 5.20833vw;
    top: -4.6875vw; }
    .testimonials__block figure {
      margin-bottom: 1.5625vw; }
      .testimonials__block figure img {
        margin: 0 auto;
        box-shadow: 0 0 11px rgba(43, 43, 43, 0.15);
        background-color: #ffffff;
        display: block;
        border-radius: 50%; }
  .testimonials .slick-dots {
    padding-top: 0vw; }
    .testimonials .slick-dots li {
      display: inline-block;
      margin: 0 0.15625vw;
      font: 0 / 0 a;
      text-shadow: none;
      color: transparent; }
      .testimonials .slick-dots li.slick-active button {
        background-image: linear-gradient(52deg, #f16667 0%, #bd1d7b 100%); }
    .testimonials .slick-dots button {
      border: none;
      display: inline-block;
      border-radius: 50%;
      width: 0.72917vw;
      height: 0.72917vw;
      background-color: #e1e1e1;
      font: 0 / 0 a;
      text-shadow: none;
      color: transparent; }
  .testimonials .slick-arrow {
    position: absolute;
    font: 0 / 0 a;
    text-shadow: none;
    color: transparent;
    left: -3.38542vw;
    top: 50%;
    width: 1.09375vw;
    height: 2.13542vw;
    background: url(../img/slider-arrow.png) no-repeat center;
    background-size: contain; }
    .testimonials .slick-arrow.slick-next {
      left: auto;
      right: -3.38542vw; }
    .testimonials .slick-arrow.slick-prev {
      -moz-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      -o-transform: scale(-1, 1);
      transform: scale(-1, 1);
      filter: FlipH;
      -ms-filter: "FlipH"; }
  .testimonials figcaption {
    color: #000000;
    font-size: 1.25vw;
    font-weight: 400;
    padding-top: 1.5625vw; }
    .testimonials figcaption .title-page {
      font-size: 1.875vw;
      line-height: 0.8;
      text-transform: none;
      padding-bottom: 0; }
    .testimonials figcaption strong {
      font-weight: normal; }
  .testimonials p {
    color: #000000;
    font-size: 1.04167vw;
    font-weight: 300;
    padding-bottom: 1.5625vw; }

.news {
  padding-bottom: 5.20833vw; }
  .news__title {
    color: #bd1e7a;
    font-size: 2.5vw;
    font-weight: 600;
    line-height: 0.7;
    text-transform: uppercase;
    padding-bottom: 1.30208vw;
    border-bottom: 0.15625vw solid #be1d7b;
    margin-bottom: 3.125vw; }
    .news__title em {
      font-weight: 900; }
  .news__item {
    padding-bottom: 4.6875vw; }
    .news__item img {
      max-width: 100%; }
    .news__item figure {
      position: relative;
      overflow: hidden;
      margin-bottom: 1.97917vw; }
      .news__item figure:before {
        content: '';
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s; }
      .news__item figure a {
        display: block;
        text-decoration: none;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s; }
      .news__item figure figcaption {
        position: absolute;
        bottom: 0;
        z-index: 5;
        left: 0;
        padding: 1.30208vw 1.5625vw;
        color: #ffffff;
        font-size: 1.5625vw;
        font-weight: 700;
        text-transform: uppercase; }
      .news__item figure img {
        display: block;
        width: 100%;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s; }
      .news__item figure:hover:before {
        opacity: 0; }
      .news__item figure:hover img {
        transform: scale(1.1); }
    .news__item hr {
      width: 4.6875vw;
      height: 0px;
      border: none;
      margin: 0;
      padding: 0;
      border-bottom: 0.15625vw solid #be1d7b; }
    .news__item .row {
      align-items: flex-end; }
    .news__item p {
      padding-top: 2.08333vw;
      color: #2a2a2a;
      font-size: 0.9375vw;
      font-weight: 400;
      line-height: 1.6; }
  .news__date {
    color: #bd1e7a;
    font-size: 0.9375vw;
    font-weight: 600;
    line-height: 0.7;
    text-transform: uppercase;
    text-align: right; }
    .news__date em {
      font-weight: 900; }

.article {
  padding-top: 7.8125vw;
  color: #2a2a2a;
  font-size: 1.25vw;
  font-weight: 400;
  padding-bottom: 11.97917vw; }
  .article p {
    padding-bottom: 1.30208vw; }
  .article__close {
    text-align: right;
    padding-bottom: 9.89583vw; }
    .article__close img {
      max-width: 3.90625vw; }
  .article__img {
    padding-top: 1.5625vw;
    padding-bottom: 3.125vw; }
    .article__img img {
      display: block;
      width: 100%; }
  .article__title {
    padding-bottom: 2.08333vw;
    border-bottom: 0.10417vw solid #be1d7b;
    margin-bottom: 4.16667vw; }
  .article h1, .article h2, .article h3 {
    color: #bd1e7a;
    font-size: 1.875vw;
    font-weight: 700;
    text-transform: uppercase; }
  .article h4, .article h5, .article h6 {
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 1.30208vw; }
  .article h6 {
    text-transform: none;
    font-size: 1.66667vw;
    font-weight: 600; }
  .article__date {
    text-align: right;
    color: #bd1e7a;
    font-size: 1.875vw;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase; }
  .article blockquote {
    text-align: center;
    padding: 0.78125vw 0 1.82292vw 0;
    letter-spacing: -0.02604vw; }
    .article blockquote q {
      font-size: 2.39583vw;
      font-weight: 700;
      font-style: italic;
      display: block;
      line-height: 1.1; }
    .article blockquote small {
      font-weight: 600;
      font-style: italic;
      display: block; }
  .article__source {
    font-weight: 600;
    color: #be1e7a;
    font-style: italic; }

.up {
  padding-top: 5.20833vw;
  text-align: center; }
  .up img {
    max-width: 3.90625vw; }

/*----------end main----------*/
/*----------footer----------*/
.footer {
  position: relative;
  overflow: hidden;
  background-color: #000000;
  padding: 2.08333vw 0;
  color: #fff;
  font-family: 'Fieldwork Geo Hair';
  font-size: 0.9375vw;
  font-weight: 400;
  text-align: center;
  line-height: 1.8; }

/*----------end footer----------*/
