<!-- index.nunjucks -->
{% extends "layout.html" %}

{% block content %}
<!-- banner -->
<div class="bnr bnr-page" style="background-image: url(img/about-bnr.png)">
    <div class="container">
       <h1>ABOUT US</h1>
    </div>
</div>
<!-- /banner -->
<!-- text -->
<div class="section section-text-l">
    <div class="container">
        <h2 class="title-page">PROFILE</h2>
        <p>
            The Filuet Group was established in 1992 providing contract logistics and BPO solutions to foreign retailers entering the Russian market. Pursuing rapid organic growth within the Russian territory, Filuet expanded its footprint to the surrounding CIS countries. Today, the Group provides a full suite of international expansion solutions, mainly to large e-commerce, retail and direct selling clients.
            We are committed to enabling our clients access and thrive in foreign markets.
            By investing in talent and technological innovation we further develop our
            offering and help our clients’ realize their competitive advantage.
        </p>
    </div>
</div>
<div class="section section-text-l">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 class="title-page">OUR VISION</h2>
                <p>To create a globally recognised brand that is synonymous with trust, technology and cross border trade.</p>
                <h2 class="title-page">THE MISSION</h2>
                <p>We help multinational corporations expand and operate in
                    challenging markets using our market entry and development models. </p>  
                <p>
                    Through the establishment and management of state-of-the-art fulfilment centers,
                    complimented by a suite of innovative technologies and professional services, we enable our clients to
                    access their chosen markets and amplify their international and urban product distribution capabilities.
                </p>
            </div>
        </div>
    </div>
    <!-- slider -->
    <div class="about-slider">
        <div class="container">
            <div class="about-slider__section">
                <div class="about-slider__item">
                    <h2 class="title-page">we’re <strong><b>a</b>spire</strong> for true values</h2>
                    <h6>Accountable</h6>
                    <p>assume responsibility and do the right thing</p>
                </div>
                <div class="about-slider__item">
                    <h2 class="title-page">we’re <strong>a<b>s</b>pire</b></strong> for true values</h2>
                    <h6>Social</h6>
                    <p>build a positive team spirit and have fun doing it</p>
                </div>
                <div class="about-slider__item">
                    <h2 class="title-page">we’re <strong>as<b>p</b>ire</strong> for true values</h2>
                    <h6>Passionate</h6>
                    <p>be involved and committed with a “can do” attitude</p>
                </div>
                <div class="about-slider__item">
                    <h2 class="title-page">we’re <strong>asp<b>i</b>re</strong> for true values</h2>
                    <h6>Innovative</h6>
                    <p>reach beyond traditional boundaries </p>
                </div>
                <div class="about-slider__item">
                    <h2 class="title-page">we’re <strong>aspi<b>r</b>e</strong> for true values</h2>
                    <h6>Resilient </h6>
                    <p>get knocked down, come back stronger </p>
                </div>
                <div class="about-slider__item">
                    <h2 class="title-page">we’re <strong>aspir<b>e</b></strong> for true values</h2>
                    <h6>Entrepreneurial </h6>
                    <p>take calculated risks to find new opportunities  </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /slider -->
</div>
<!-- /text -->

{% endblock %}