<!-- index.nunjucks -->
{% extends "layout.html" %}

{% block content %}

<!-- article -->
<article class="article">
    <div class="container container-xl">
        <div class="article__close"><a href="/"><img src="img/close.png" alt=""></a></div>
        <div class="article__title">
            <div class="row align-content-end">
                <div class="col-lg-9">
                    <h1>THE FUTURE OF COMMERCE
                            WITH AUTOMATED RETAIL MACHINES </h1>
                </div>
                <div class="col-lg-3 align-self-end">
                    <div class="article__date">17.02.2019</div>
                </div>
            </div>
        </div>
        <h6>First of all, automated retail is not “vending”. Vending is your 2007 Nokia phone which allowed for texting and calls. With today’s smartphones you can do your banking, emails, book your holiday, read the news and so much more.</h6>

       <p>Basically the internet continues to change our lives, in particular, the way we shop….</p> 
        
       <p>Retailers are in big trouble. With today’s sky-high real estate costs, rent can be 25% of their monthly expenses. However, they pay rent 365 days a year, due to labour laws, holidays and other operational challenges, the store is closed more than it is open, in fact, more than 50% of the time the doors are shut.</p> 
        
       <p>So, in order to address this, we created the future of 24/7 self-service stores.</p> 
        
       <p>Our system, is a combination of software and hardware powering an automated retail machine, called an ASC, offering the benefit of 24/7/365 shopping.</p> 
            
       <p>Anything from cosmetics to electronics to medicine, every retailer can customise and manage their shop interface remotely, and select exactly which items are too placed in the machine. With the maximum size of one car parking place our machines can be deployed literally anywhere, airports, shopping malls or even as a “hole in the wall” retail ATM.</p> 
        
       <p>Not only that, it works in any language, and accepts any method of payment.</p> 
        
       <p> To the retailers our system brings the power of IoT & big data allowing suggestive cross-selling, upselling and online sales data upload to corporate ERP.</p> 
          
       <figure class="article__img">
            <img src="img/article-img7.jpg" alt="">
        </figure>
       <p>
            But there’s more to that. Tough ecommerce addresses some of these problems, it is limited. That is, because in order to enjoy the benefits of ecommerce the customer has to have a credit card. But in fact, 3.5B people around the world are unbankable and don’t have a credit card. In the UK market alone this stands for 2.3 million households, almost 10% of population.</p>
            
            <p>We were able to overcome this challenge as well; our machine enables 24/7 access to the retailers e-commerce website, with the ease of paying cash.
            No address for delivery, no problem – the products will be delivered to a locker on the side of the machine. It puts the entire retail experience in the simplicity of using an ATM.
            In case you still think “vending” consider this comparison:
            The difference between automated retail and “vending” is like the difference between Uber and the traditional taxi station concept.</p>
            
            <p>Unlike vending, our UI/UX is tailored to your special organization needs, which is a huge benefit for direct selling organizations. The UI\UX offers customers an easy on-line buying experience with immediate gratification.</p>
            
            
        <figure class="article__img">
            <img src="img/article-img8.jpg" alt="">
        </figure>
       <p> In addition, have you ever tried to buy several items at once from a vending machine? You need to repeat the entire transaction each time you order. With the ASC product line, the customer can build a product basket, same as you do when you shop online. In a way automated retail can be compared to an instant online shopping experience.</p>

        <p>  These automated stores are a convenient and flexible solution – turning all our favourite shops into 24/7/365 locations with low CapEx (no expensive real estate) and low Opex (no staffing). We are living in exciting times. 
            </p>
        <div class="up"><a href="#wrapper"><img src="img/up.png" alt=""></a></div>
    </div>
</article>
<!-- /article -->

{% endblock %}