<!-- index.nunjucks -->
{% extends "layout.html" %}

{% block content %}

<!-- case -->
<div class="container container-xl">
    <div class="case__title">
        <img src="img/case-title.png" alt="">
    </div>
</div>
<!-- /case -->
<!-- text -->
<div class="section case-section">
    <div class="container container-xl">
        <h2 class="title-page">Introduction</h2>
        <p>
                Back in 2010, Herbalife approached us with a challenge to develop an effective and efficient product access solution that can operate 24/7 if needed. As usual, our reply was “no problem” and we proceeded to complile a team of experts in UI/UX software, payment systems and self-service technologies.  In May 2011, the first prototypes of the Automated Sales Center (ASC) and Auto attendant (AA) were born. The project has since grown from strength to strength as evidenced below:
        </p>
    </div>
</div>
<!-- /text -->
<!-- slider -->
<div class="about-slider">
    <div class="container">
        <div class="about-slider__section about-slider__section-bottom">
            <div class="about-slider__item">
                <h6><strong>58</strong> AA’s in <strong>5</strong> countries</h6>
                <p>(Russia, Italy, Spain, Israel & Latvia)</p>
            </div>
            <div class="about-slider__item">
                <h6><strong>15</strong> ASC’s in <strong>7 </strong> countries </h6>
                <p>(Russia, Israel, Taiwan, Korea, Columbia, Latvia & France)</p>
            </div>
            <div class="about-slider__item">
                <h6>Over <strong>1,000,000</strong> <br>
                        orders processed </h6>
            </div>
        </div>
    </div>
</div>
<!-- /slider -->
<!-- case-img -->
<div class="case-img">
    <img src="img/MACHINE.png" alt="">
</div>
<!-- /case-img -->
<!-- text -->
<div class="section">
    <div class="container">
        <h2 class="title-page">Moscow: our first standalone ASC</h2>
        <p class="case-capital">
                Butovo <strong>(Moscow suburb)</strong> was the <br>
                initial pilot <strong>location</strong> for the solution in a <br>
                standalone <strong>24/7 accessible</strong> facility.
        </p>
        <div class="case-block">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <figure class="case-block__img"><img src="img/case1.png" alt=""></figure>
                </div>
                <div class="col-lg-7">
                    <h6>Timleline</h6>
                    <ul>
                         <li>  - Project duration: <em>6 months</em></li> 
                        <li>- Project commencement: <em>3/12</em></li> 
                        <li> - Importation of hardware: <em>4/12</em></li> 
                        <li> - Real estate search & lease negotiation: <br>
                            <em>2 months (4/12 – 5/12)</em></li> 
                        <li> - Premises design & fit out: <em>3 months (6/12 – 8/12)</em></li> 
                        <li> - Go live: <em>9/12</em></li> 
                            
                    </ul>
                </div>
            </div>
        </div>
        <div class="case-block">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <figure class="case-block__img"><img src="img/case2.png" alt=""></figure>
                </div>
                <div class="col-lg-7">
                    <h6>Financials</h6>
                    <div class="row">
                        <div class="col-lg-6">
                              <strong> No of orders to date </strong> 
                              <b>67,452 </b>                                 
                        </div>
                        <div class="col-lg-6">
                              <strong> Sales to date </strong> 
                              <b>$7,875,334 </b>                                 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /text -->
<!-- text -->
<div class="section">
    <div class="container">
        <h2 class="title-page">Service Set</h2>
       <div class="case-services">
           <div class="row">
               <div class="col-lg-6">
                   <div class="case-services__item">
                       <div class="case-services__title">
                            <figure><i><img src="img/tag2.svg" alt=""></i></figure>
                            <h6>REAL ESTATE</h6>
                        </div>
                       <ul>
                           <li> Premises search given client specification</li>
                           <li> Site selection & lease negotiation</li>
                           <li> Customised design & fit out involving:</li>
                           <ol>
                               <li> Renovation of facility</li>
                               <li> Cabling & installation of security systems</li>
                               <li> Signage & branding</li>
                               <li> Fixtures & fittings</li>
                               <li> Partitioning for ASC & warehouse</li>
                           </ol>
                       </ul>
                   </div>
               </div>
                <div class="col-lg-6">
                   <div class="case-services__item">
                        <div class="case-services__title">
                        <figure><i><img src="img/tag1.svg" alt=""></i></figure>
                        <h6>Importation</h6>
                       </div>
                       <ul>
                           <li>  ASC / AA hardware and spare parts
                                imported from Spain</li>
                            <li> Customs clearance & warehousing of units
                                </li>
                       </ul>
                   </div>
               </div>
           </div>
           <div class="row">
               <div class="col-lg-6">
                   <div class="case-services__item">
                        <div class="case-services__title">
                       <figure><i><img src="img/tag3.svg" alt=""></i></figure>
                       <h6>Logistics</h6>
                       </div>
                       <ul>
                           <li>  Inventory supply from bulk warehouse</li>
                        <li> Automatic replenishment
                                planning & re-supply once per week
                                </li>
                       </ul>
                   </div>
               </div>
                <div class="col-lg-6">
                   <div class="case-services__item">
                        <div class="case-services__title">
                       <figure><i><img src="img/tag4.svg" alt=""></i></figure>
                       <h6>Sales admin & support</h6>
                       </div>
                       <ul>
                           <li>  Employed on head for on-site warehouse
                                management & support</li>
                                <li>   Support for local consumers & obtaining feedback
                                </li>
                       </ul>
                   </div>
               </div>
           </div>
           <div class="row">
               <div class="col-lg-6">
                   <div class="case-services__item">
                        <div class="case-services__title">
                       <figure><i><img src="img/tag6.svg" alt=""></i></figure>
                       <h6>Customer service</h6>
                       </div>
                       <ul>
                           <li>   24 hr online support (email, text, phone)</li>
                           <li>     18 hr live call back support
                                </li>
                       </ul>
                   </div>
               </div>
                <div class="col-lg-6">
                   <div class="case-services__item">
                        <div class="case-services__title">
                       <figure><i><img src="img/tag5.svg" alt=""></i></figure>
                       <h6>IT & support</h6>
                       </div>
                       <ul>
                            <li> Localised hardware assembly</li>
                            <li> Full operational system integration</li>
                            <li> External ERP integration</li>
                            <li> Product customisations (dispenser, planogram)</li> 
                       </ul>
                   </div>
               </div>
           </div>
           <div class="row">
               <div class="col-lg-6">
                   <div class="case-services__item">
                        <div class="case-services__title">
                       <figure><i><img src="img/tag7.svg" alt=""></i></figure>
                       <h6>Accounting</h6>
                       </div>
                       <ul>
                           <li>Fiscally compliant tax & VAT reporting</li>
                           <li> Insurance & risk management</li>
                                
                       </ul>
                   </div>
               </div>
                <div class="col-lg-6">
                   <div class="case-services__item">
                        <div class="case-services__title">
                       <figure><i><img src="img/tag8.svg" alt=""></i></figure>
                       <h6>Compliance</h6>
                       </div>
                       <ul>
                            <li>Full integration of all financials
                                    with client’s ERP in real time</li> 
                            <li> Daily & monthly reconciliations & reporting</li> 
                                    
                       </ul>
                   </div>
               </div>
           </div>
           <div class="row">
               <div class="col-lg-6">
                   <div class="case-services__item">
                        <div class="case-services__title">
                       <figure><i><img src="img/tag9.svg" alt=""></i></figure>
                       <h6>Treasury</h6>
                       </div>
                       <ul>
                           <li> Full cash management to client account</li>
                       </ul>
                   </div>
               </div>
                <div class="col-lg-6">
                   <div class="case-services__item">
                        <div class="case-services__title">
                       <figure><i><img src="img/tag10.svg" alt=""></i></figure>
                       <h6>Advisory</h6>
                       </div>
                       <ul>
                            <li>CRM</li> 
                            <li> Data analytics</li> 
                            <li>Efficiency & UX improvements</li>     
                       </ul>
                   </div>
               </div>
           </div>
       </div>
       <div class="case-services__images">
           <div class="row">
               <div class="col-6">
                   <figure><img src="img/Butovo1.png" alt=""></figure>
               </div>
               <div class="col-6">
                    <figure><img src="img/Butovo_design.png" alt=""></figure>
                </div>
           </div>
       </div>
    </div>
</div>
<!-- /text -->
<!-- qoute -->
<div class="section">
    <div class="container container-xl">
        <blockquote class="case-services__qoute">
                “...do what you do best and outsource the rest...”
        </blockquote>
        <a href="#" class="more">CONTACT US</a>
    </div>
    <div class="up"><a href="#wrapper"><img src="img/up.png" alt=""></a></div>
</div>
<!-- /qoute -->

{% endblock %}