<!-- index.nunjucks -->
{% extends "layout.html" %}

{% block content %}
<!-- banner -->
<div class="bnr bnr-page" style="background-image: url(img/govermance.jpg)">
    <div class="container">
       <h1>GOVERMANCE</h1>
    </div>
</div>
<!-- /banner -->
<!-- text -->
<div class="section">
    <div class="container">
        <h2 class="title-page">PHILOSOPHY</h2>
        <p>
            Although not legally required to abide by a Corporate Governance Code, we have always been committed to the highest standards of corporate governance. We are proud to have implemented the guidance issued in the Corporate Governance Code for Unlisted Companies developed by the Institute of Directors (IoD) in the United Kingdom and the European Confederation of Directors’ Associations (ecoDA) in Europe. In addition, we also look to implement best practice principles from the full Corporate Governance Code issued by the Financial Reporting Council in the UK and other similar guidance when deemed appropriate by the Board of Directors given the size and scope of our organisation.
        </p>
    </div>
</div>
<!-- /text -->
<!-- text -->
<div class="section">
    <div class="container">
        <h2 class="title-page">BOARD OF DIRECTORS</h2>
        <div class="personal">
            <div class="row">
                <div class="col-lg-4">
                    <figure class="personal__item">
                        <img src="img/personal1.png" alt="">
                        <figcaption>
                             <strong>Alex Rashkovan</strong>
                             <em> Chairman</em>  
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-4">
                    <figure class="personal__item">
                        <img src="img/personal2.png" alt="">
                        <figcaption>
                             <strong>Marios Iacovou
                                    </strong>
                             <em> Executive Director
                                </em>  
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-4">
                    <figure class="personal__item">
                        <img src="img/personal3.png" alt="">
                        <figcaption>
                             <strong>BARRY Iacovou</strong>
                             <em> Non-Executive Director</em>  
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <p>The Board of Directors represents the Group's shareholders and is collectively responsible for the <br>
                long-term management and success of the company.  The detailed role and responsibilities of the <br>
                Board are documented within its Board Charter.</p>
    </div>
</div>
<!-- /text -->
<!-- text -->
<div class="section">
    <div class="container">
        <h2 class="title-page">BOARD OF DIRECTORS</h2>
        <div class="personal">
            <div class="row">
                <div class="col-lg-4">
                    <figure class="personal__item">
                        <img src="img/personal4.png" alt="">
                        <figcaption>
                                <strong>Marios Iacovou
                                    </strong>
                             <em> Chief Executive Officer
                                </em>  
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-4">
                    <figure class="personal__item">
                        <img src="img/personal5.png" alt="">
                        <figcaption>
                             <strong>Omiros Christodoulides </strong>
                             <em> Chief Operations Officer
                                </em>  
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-4">
                    <figure class="personal__item">
                        <img src="img/personal6.png" alt="">
                        <figcaption>
                             <strong>Julia Dyreholt Holmes</strong>
                             <em> Chief Legal Officer</em>  
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <figure class="personal__item">
                        <img src="img/personal7.png" alt="">
                        <figcaption>
                             <strong>Konstantin Bystrov</strong>
                             <em> Chief Technology Officer</em>  
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-4">
                    <figure class="personal__item">
                        <img src="img/personal8.png" alt="">
                        <figcaption>
                             <strong>Olga Bestcennaya</strong>
                             <em> Managing Director, <br>
                                    Russia & CIS markets</em>  
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-4">
                    <figure class="personal__item">
                        <img src="img/personal9.png" alt="">
                        <figcaption>
                             <strong>Konstantin Kryganov
                                    </strong>
                             <em> Finance Director, <br>
                                    Russia & CIS markets</em>  
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /text -->
{% endblock %}