<!-- index.nunjucks -->
{% extends "layout.html" %}

{% block content %}
<!-- banner -->
<div class="bnr bnr-page" style="background-image: url(img/news.jpg)">
    <div class="container">
       <h1>NEWS</h1>
    </div>
</div>
<!-- /banner -->
<!-- news -->
<div class="news">
    <div class="container container-xl">
        <div class="news__title">2019’S <em>NEWS</em></div>
        <div class="row">
            <div class="col-lg-6">
                <div class="news__item">
                    <figure>
                        <a href="article1.html"><img src="img/news1.jpg" alt=""></a>
                        <figcaption><a href="article1.html">The world’s first humanless
                                warehouse is run only by
                                robots and is a model for
                                the future</a></figcaption>
                    </figure>
                    <div class="row">
                        <div class="col-md-6">
                            <hr>
                        </div>
                        <div class="col-md-6">
                            <div class="news__date">02 <em>JUlY</em></div>
                        </div>
                    </div>
                    <p>At a recent technology show in Tokyo, a large robot arm reached into a full-sized mockup of a shipping container and began unloading boxes from it. Set on a platform that moved back and forth, the robot was doing a job...</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="news__item">
                    <figure>
                        <a href="#"><img src="img/news2.jpg" alt=""></a>
                        <figcaption><a href="#">how logistics began                            </a></figcaption>
                    </figure>
                    <div class="row">
                        <div class="col-md-6">
                            <hr>
                        </div>
                        <div class="col-md-6">
                            <div class="news__date">24 <em>MAY</em></div>
                        </div>
                    </div>
                    <p>At Filuet group, the staff discuss logistics daily. But what exactly is logistics? According to businessdictionary.com, the definition of logistics is the: “planning, execution, fulfillment and control of the procurement, movement...</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="news__item">
                    <figure>
                        <a href="#"><img src="img/news3.jpg" alt=""></a>
                        <figcaption><a href="#">FRICTIONLESS RETAIL IN
                                THE AGE OF DATA</a></figcaption>
                    </figure>
                    <div class="row">
                        <div class="col-md-6">
                            <hr>
                        </div>
                        <div class="col-md-6">
                            <div class="news__date">11  <em>APRIL</em></div>
                        </div>
                    </div>
                    <p>Retail has been going through a huge disruption and transformation recently, and the winners and losers of that disruption are still not entirely clear. But what is clear is that those who embrace...</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="news__item">
                    <figure>
                        <a href="#"><img src="img/news4.jpg" alt=""></a>
                        <figcaption><a href="#">THE FUTURE OF COMMERCE
                                WITHAUTOMATED RETAIL
                                MACHINES</a></figcaption>
                    </figure>
                    <div class="row">
                        <div class="col-md-6">
                            <hr>
                        </div>
                        <div class="col-md-6">
                            <div class="news__date">17 <em> FEBRUARY</em></div>
                        </div>
                    </div>
                    <p>First of all, automated retail is not “vending”. Vending is your 2007 Nokia phone which allowed for texting and calls. With today’s smartphones you can do your banking, emails, book your holiday, read the news and so much more...</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /news -->
<!-- news -->
<div class="news">
    <div class="container container-xl">
        <div class="news__title">2018’S  <em>NEWS</em></div>
        <div class="row">
            <div class="col-lg-6">
                <div class="news__item">
                    <figure>
                        <a href="#"><img src="img/news5.jpg" alt=""></a>
                        <figcaption><a href="#">Attracting Attention:
                                8 Ways to Increase Kiosk
                                Usage</a></figcaption>
                    </figure>
                    <div class="row">
                        <div class="col-md-6">
                            <hr>
                        </div>
                        <div class="col-md-6">
                            <div class="news__date">04 <em>DECEMBER</em></div>
                        </div>
                    </div>
                    <p>Retail has been going through a huge disruption and transformation recently, and the winners and losers of that disruption are still not entirely clear. But what is clear is that those who embrace...</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /news -->
{% endblock %}