<!-- index.nunjucks -->
{% extends "layout.html" %}

{% block content %}
<!-- banner -->
<div class="bnr bnr-page" style="background-image: url(img/omni-bnr.png)">
    <div class="container">
       <h1><small>OMNI CHANNEL <br>
        TECHNOLOGIES</small></h1>
    </div>
</div>
<!-- /banner -->
<!-- text -->
<div class="section">
    <div class="container">
        <div class="tech">
            <div class="row align-items-center">
                <div class="col-lg-5 order-1">
                    <figure class="tech__img"><img src="img/tech1.png" alt=""></figure>
                </div>
                <div class="col-lg-7">
                    <h4>Retail Automation</h4>
                    <ul>
                        <li>Automated Unmanned Retail Store</li>
                        <li>Omnichannel E-commerce Solutions</li>
                        <li>Smart Lockers</li>
                        <li>Payment Kiosks</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tech">
            <div class="row align-items-center">
                <div class="col-lg-7 order-lg-1">
                    <h4>Retail & Point of Sale</h4>
                    <ul>
                        <li>	Set-Up of branded PoS </li>
                        <li>Set-Up of brand experience center (BEC)</li>
                        <li>	Service management for PoS & BEC</li>
                                
                    </ul>
                </div>
                <div class="col-lg-5">
                    <figure class="tech__img"><img src="img/tech2.png" alt=""></figure>
                </div>
            </div>
        </div>
        <div class="tech">
            <div class="row align-items-center">
                <div class="col-lg-5 order-1">
                    <figure class="tech__img"><img src="img/tech3.png" alt=""></figure>
                </div>
                <div class="col-lg-7">
                    <h4>e-Commerce</h4>
                    <ul>
                        <li>	ERP-Integrated e-commerce solution</li>
                        <li>	Localisation of your e-commerce platform</li>
                        <li>	Ecommerce chatbots</li>
                        <li>	Shipping API – easy access to various ‘last mile’ solutions</li>
                        <li>	Operating your e-commerce business locally</li>
                        <li>	IoR & Certification</li>
                        <li>	Storage & Fulfilment services</li>
                                
                    </ul>
                </div>
            </div>
        </div>
        <div class="case-study">
            <section>
                    SEE
                    <img src="img/HERBALIFE.png" alt="">
                    CASE STUDY
            </section>
        </div>
    </div>
</div>
<!-- /text -->
<!-- text -->
<div class="container">
    <div class="tech-bottom">
        <img src="img/tech-bottom.png" alt="">
    </div>
</div>
<!-- /text -->
{% endblock %}