<!-- index.nunjucks -->
{% extends "layout.html" %}
{% block bodyclass %} class="solutions-wrapper" {% endblock %}
{% block content %}
<!-- banner -->
<div class="bnr bnr-page" >
    <div class="container">
       <h1>SOLUTIONS</h1>
    </div>
    <div class="bnr-page__img">
        <picture>
            <source srcset="img/solutions-mobile.png" media="(max-width:767px)">
            <img src="img/solutions-bnr.png">
        </picture>
    </div>
</div>
<!-- /banner -->
<!-- text -->
<div class="section" id="open">
    <div class="container">
        <h2 class="title-page">MARKET OPENING</h2>
        <h5 class="subtitle-page">Onshore Online</h5>
        <p>
               <strong> Look to establish local presence & gain foothold </strong> <br>
                Develop your presence using our local infrastructure. Our VENI model, (which means 'come' in Latin) enables you to develop a market or region without necessarily having a legal presence, by using our fiscally approved financial models, infrastructure and a dedicated team, combined with our Business Process Outsourcing and Contract Logistics Services. VENI is truly a total outsourcing solution. The model encompasses within itself transportation services, brand and local product compliance, added value warehousing, payment collection and forwarding, sales and marketing support, customer service for before, during and after purchase. This solution offers free product circulation across the Eurasian Economic Union (Russia, Belarus, Kazakhstan, Armenia and Kyrgyzstan) and reaches out to the countries of the CIS                
        </p>
        <figure class="solution-center-img">
            <img src="img/solutions1.png" alt="">
        </figure>
    </div>
</div>
<!-- /text -->
<!-- text -->
<div class="section" id="dev">
    <div class="container">
        <h2 class="title-page">MARKET DEVELOPMENT</h2>
        <h5 class="subtitle-page">Onshore Online & Retail</h5>
        <p>
               <strong>  Look to increase market share and develop brand equity through physical & automated stores.  </strong> <br>
              
               Enhance your presence through physical sales stores. VICI, (from the Latin word 'conquer') is the ultimate step towards winning the market, giving you the power to entrench your brand awareness through brick-and-mortar store set-up, operated on your behalf. VICI brings customers at the heart of your business, by giving them a convenient shopping experience and implementing your marketing strategy.    
        </p>
        <figure class="solution-center-img">
            <img src="img/solutions2.png" alt="">
        </figure>
    </div>
    <div class="sol-slider">
        <div class="container">
            <div class="sol-slider__section">
                <div class="sol-slider__item">
                    <h6>Physical stores</h6>
                    <p>A proven B2C concept of establishing initial international brand recognition and footfall</p>
                </div>
                <div class="sol-slider__item">
                    <h6>Automated stores</h6>
                    <p>Unmanned, efficient & effective,  a smart approach to seamless 24/7 product access and last mile delivery</p>
                </div>
                <div class="sol-slider__item">
                    <h6>Brand experience centers</h6>
                    <p>reach beyond traditional boWhere consumers get to immerse themselves in a brand’s world – the ultimate is consumer engagementundaries </p>
                </div>
                <div class="sol-slider__item">
                    <h6>Accountable</h6>
                    <p>When needing to serve large metropolitan areas with same day or 24/7 deliveries</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /text -->
<!-- slider -->
<div class="section" id="suite">
    <div class="container">
        <h2 class="title-page">Expansion suite</h2>
        <h5 class="subtitle-page">Key Areas</h5>
        <p>
                We offer a full suite of services that can be procured in any combination according
                to your needs and stage in your market development strategy. 
        </p>
    </div>
    <div class="container container-xl">
        <div class="row">
            <div class="col-lg-6">
                <h6 class="solutions__slider-title">OPERATIONS <br> VALUE ADDING</h6>
                <div class="solutions__slider">
                    <div class="solutions__slider-block">
                        <div class="solutions__slider-item">
                            <figure>
                                <img src="img/tag2.svg" alt="">
                                <figcaption>Real Estate</figcaption>
                            </figure>
                            <p>Research <br>
                            Site due diligence   <br>
                            Lease negotiation & admin <br>
                            Design & fit out</p>
                        </div>
                        <div class="solutions__slider-item">
                            <figure>
                                <img src="img/tag1.svg" alt="">
                                <figcaption>Importation </figcaption>
                            </figure>
                            <p>Product localization & registration  <br>
                                    Transfer pricing  <br>
                                    Customs clearance  <br>
                                    Supply chain coordination </p>
                        </div>
                        <div class="solutions__slider-item">
                            <figure>
                                <img src="img/tag3.svg" alt="">
                                <figcaption>Logistics </figcaption>
                            </figure>
                            <p>Transportation  <br>
                                    Warehousing <br>
                                    Pick & pack <br>
                                    Last mile delivery  </p>
                        </div>
                        <div class="solutions__slider-item">
                            <figure>
                                <img src="img/tag4.svg" alt="">
                                <figcaption>Sales Admin & Support </figcaption>
                            </figure>
                            <p>Order processing <br>
                                    Promotions  <br>
                                    Market research  <br>
                                    Events management  </p>
                        </div>
                        <div class="solutions__slider-item">
                            <figure>
                                <img src="img/tag6.svg" alt="">
                                <figcaption>Customer Service </figcaption>
                            </figure>
                            <p>Returns  <br>
                                    Complaints <br>
                                    Back orders  <br>
                                    Toll free line   </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h6 class="solutions__slider-title">ADMINISTRATION <br>
                        SUPPORT SERVICES</h6>
                <div class="solutions__slider">
                    <div class="solutions__slider-block">
                        <div class="solutions__slider-item">
                            <figure>
                                <img src="img/tag5.svg" alt="">
                                <figcaption>Importation Technology</figcaption>
                            </figure>
                            <p>Systems integration  <br>
                                    Automated sales solution <br>
                                    Business applications <br>
                                    IT infrastructure & maintenance </p>
                        </div>
                        <div class="solutions__slider-item">
                            <figure>
                                <img src="img/tag7.svg" alt="">
                                <figcaption>Accounting & Reporting</figcaption>
                            </figure>
                            <p>Billing & invoicing  <br>
                                    Bookkeeping  <br>
                                    Payroll <br>
                                    Financial reporting </p>
                        </div>
                        <div class="solutions__slider-item">
                            <figure>
                                <img src="img/tag8.svg" alt="">
                                <figcaption>Compliance</figcaption>
                            </figure>
                            <p>Statutory & legal  <br>
                                    Regulatory  <br>
                                    Direct taxation  <br>
                                    VAT  </p>
                        </div>
                        <div class="solutions__slider-item">
                            <figure>
                                <img src="img/tag9.svg" alt="">
                                <figcaption>Treasury</figcaption>
                            </figure>
                            <p>Payment collections  <br>
                                    Bank deposit & wire transfers <br>
                                    Cashflow management  <br>
                                    Financial planning   </p>
                        </div>
                        <div class="solutions__slider-item">
                            <figure>
                                <img src="img/tag9.svg" alt="">
                                <figcaption>Advisory</figcaption>
                            </figure>
                            <p>Strategy  <br>
                                    Technology  <br>
                                    Human resources <br>
                                    Marketing    </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <figure class="solution-center-img">
            <img src="img/solutions3.png" alt="">
        </figure>
    </div>
</div>
<!-- /slider -->
<!-- text -->
<div class="section">
    <div class="container">
        <h2 class="title-page">CASE STUDY            </h2>
        <h5 class="subtitle-page">Herbalife</h5>
        <p>
                In 2010, we were challenged by Herbalife to come up with an innovative solution designed to improve product access, brand visibility and the consumer experience whilst at the same time reducing operating expenses. We at Filuet relish a challenge and got straight to work, the result being the birth of the automated sales center (ASC).
        </p>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="case-study padt0">
            <section>
                    SEE
                    <img src="img/HERBALIFE.png" alt="">
                    CASE STUDY
            </section>
        </div>
    </div>
</div>
<!-- /text -->
{% endblock %}